networks:
  laravel:


services:
  postgres:                                                                                       
    image: postgres:16-alpine
    restart: unless-stopped  
    tty: true
    ports:                  
      - "5432:5432"       
    environment:            
      POSTGRES_DB: laravel   
      POSTGRES_USER: laravel   
      POSTGRES_PASSWORD: secret
      SERVICE_TAGS: dev
      SERVICE_NAME: postgres   
    networks:   
      - laravel 
  redis:
    image: redis:alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - laravel

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - laravel
